<h3>Создать новый платеж за:</h3>
<dl>
  <% @months.each do |month| %>
      <dt><%= link_to month.name_month, new_month_payment_path(month.id) %></dt>
  <% end %>
</dl>
<%= button_to 'Назад', root_path, method: :get, class: 'btn btn-success' %>


