<div class="row">
  <div class="col-lg-6 col-xs-6 text-center">
    <h3><strong>Создать новый платеж за:</strong></h3>
  </div>

  <div class="col-lg- col-xs-6">
    <dl id="size-month">
      <% @months.each do |month| %>
          <dt><%= link_to month.name_month, new_month_payment_path(month.id) %></dt>
      <% end %>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xs-6 center">
    <%= button_to 'Назад', years_path, method: :get, class: 'btn btn-success' %>
  </div>
</div>
