<table cellspacing="10" class="table">
  <tr>
    <td colspan="2"><h3>Выберете год:</h3></td>
  </tr>
  <% @years.each do |year| %>
  <tr>
    <td>
      <%= link_to year.value_year, year_months_path(year.value_year) %>
    </td>
    <td>
      <%= button_to 'Показать платежи за год', year_payments_path(year.value_year), method: :get, class: 'btn btn-success' %>
    </td>
    <% end %>
  </tr>
    <tr colspan="2">
        <td><%= link_to 'Добавить год', new_year_path, class: 'btn btn-success' %></td>
    </tr>
    <tr>
        <td><strong>Общая сумма долга:</strong></td>
        <td><strong><%= @debit %></strong></td>
    </tr>
</table>
